<IfModule mod_rewrite.c>

  <IfModule mod_negotiation.c>
     Options -MultiViews -Indexes
  </IfModule>

RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
RewriteRule ^(favicon.ico|robots.txt)$ - [L]
RewriteRule ^(boot|css|img|js|raw) - [L]
RewriteRule ^api/v /boot/apiboot.php [L]
RewriteRule ^ /boot/boot.php [L]



</IfModule>

ErrorDocument 503 /error/503.php

<IfModule !mod_rewrite.c>
      Error "mod_rewrite is needed"
</IfModule>