<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^\. - [F]
    RewriteCond %{REQUEST_URI} ^/([^/.]+\.[^/.]+)$
    RewriteRule ^ - [L]
    RewriteRule ^(boot|css|img|js)/ - [L]
    RewriteRule ^ /boot/app-boot.php [L]
</IfModule>
<IfModule !mod_rewrite.c>
    Error "mod_rewrite is required"
</IfModule>
