.bar-button {

  @apply relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md ;
  & {
    @apply text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  &.red {
    @apply text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500;
  }

  &:disabled {
    @apply bg-gray-500;
  }
}

.button-hover {

  &:not(:disabled):hover {
    @apply transition-all duration-300
    active:bg-gray-100/70
    active:transition-colors;
    @apply hover:rounded-md hover:scale-110 hover:shadow hover:border hover:border-black;
  }
}
