.wd-table-box {

  .wd-table-section {

    @apply h-auto bg-gray-100 shadow-lg p-1 mb-1 ;
    @apply bg-gradient-to-r from-blue-200 to-green-100;
    @apply dark:bg-gradient-to-r dark:from-blue-800 dark:to-green-800;


    &.wd-cap-block {
      @apply h-12 text-xl font-bold flex items-center justify-center;
    }

    &.wd-head-block {
      @apply h-10 flex items-center justify-start space-x-1;

      .wd-page-len {
        @apply h-8 min-w-16 p-1 shrink-0 dark:bg-black ;
      }

      .wd-search-box {
        @apply h-8 px-2 py-1 w-full grow dark:bg-black;
      }

      .wd-open-modal-btn {
        @apply h-8 py-0 px-3 py-0 border bg-blue-600/80 text-white  rounded-md shadow-lg;
      }

    }

    &.wd-table-block {
      @apply h-fit w-full p-1 ;
      thead {
        th {
          @apply bg-green-700/50 odd:bg-green-600/50 p-1 text-white;
          .wd-th-inner {
            @apply flex items-center justify-between;
          }
        }
      }

      tbody {
        tr td {
          @apply bg-blue-400/20 odd:bg-blue-500/20 px-2 py-1 m-1 border overflow-hidden truncate;
        }
      }
      tfoot {
        tr  td {
          @apply px-2 py-1 m-1 border ;
        }
      }


    }

    &.wd-pager-block {
      @apply h-10 flex items-center justify-between space-x-1 ;

      .wd-pno-box {
      }

      .wd-plist-box {
        @apply grow w-full py-1 h-8 text-right;
        .wd-page-btn {
          @apply h-6 w-fit min-w-8 py-0.5 px-1 bg-blue-500 text-white mr-1 font-mono text-sm;
          &.active {
            @apply bg-green-500;
          }

        }

      }
    }

    &.wd-footer-block {
      @apply min-h-10 h-10 flex items-center justify-between space-x-1 ;
    }


    //&.wd-pager-block {
    //  @apply h-10 flex flex-row items-center justify-between space-x-1 content-center bg-blue-200;
    //  .wd-pno-box {
    //    @apply shrink h-9 px-1 py-0 content-center border shadow-lg text-ellipsis truncate;
    //  }
    //  .wd-plist-box {
    //    @apply grow h-9 px-1 py-0 text-right content-center border shadow-lg overflow-hidden truncate;
    //
    //    .wd-page-btn {
    //      @apply h-7 w-fit min-w-8 py-0.5 px-1 bg-blue-500 text-white mr-1 font-mono;
    //      &.active {
    //        @apply bg-g
    //      }
    //    }
    //  }
    //}
    //


  }
}