.wd-table-box {

  .wd-table-section {

    @apply h-auto bg-gray-100 shadow-lg p-1 mb-1 ;
    @apply bg-gradient-to-r from-blue-200 to-green-100;
    @apply dark:bg-gradient-to-r dark:from-blue-800 dark:to-green-800;


    &.wd-cap-block {
      @apply h-12 text-xl font-bold flex items-center justify-center;
    }

    &.wd-head-block {
      @apply h-10 flex items-center justify-start space-x-1;

      .wd-page-len {
        @apply h-8 min-w-16 p-1 shrink-0 dark:bg-black ;
      }

      .wd-search-box {
        @apply h-8 px-2 py-1 w-full grow dark:bg-black;
      }

      .wd-open-modal-btn {
        @apply h-8 py-0 px-3 py-0 border bg-blue-600/80 text-white  rounded-md shadow-lg;
      }

    }

    &.wd-table-block {
      @apply h-fit w-full p-1 ;
      thead {
        th {
          @apply bg-green-700/50 odd:bg-green-600/50 p-1 text-white;
          .wd-th-inner {
            @apply flex items-center justify-between;
          }
        }
      }

      tbody {
        tr td {
          @apply bg-blue-400/20 odd:bg-blue-500/20 px-2 py-1 m-1 border overflow-hidden truncate;
          .highlight {
            @apply bg-yellow-300/80 p-0.5;
          }
          .wd-btn {
            @apply bg-black px-1 py-0.5 text-white min-w-12 max-w-12 text-xs;
          }

        }
      }

      tfoot {
        tr td {
          @apply px-2 py-1 m-1 border ;
        }
      }


    }


    &.wd-footer-block {
      @apply min-h-10 h-10 flex items-center justify-between space-x-1 ;
      .page-input{
        @apply h-8 px-2 py-1 w-fit shrink;
      }
    }

    &.wd-qbar-block {
      @apply min-h-10 h-10 flex items-center justify-between space-x-2 ;
      .wd-qbar-inner {
        @apply flex items-center justify-between space-x-2;
        .wd-qbar-item {

        }

      }

    }

  }

  .wd-qbtn {
    @apply bg-blue-800/100 text-white  px-3 py-1 button-hover;
  }

}