.info-block {

  @apply rounded-md p-4 border border-l-4 shadow-md;

  .svg-icon {
    @apply w-8 h-8;
  }

  .closebtn {
    @apply focus:outline-none focus:ring-2  focus:ring-offset-2 rounded-md;
  }

  &.error {
    @apply bg-red-50  border-red-400;
    .info-text {
      @apply text-black ;
    }

    .close-btn {
      @apply text-red-400 hover:text-red-600 focus:ring-red-500 ;
    }


  }
}