.wd-table {

  @apply overflow-x-auto m-1 text-xs sm:text-lg;

  .wd-section {
    @apply w-full mb-1 bg-gray-200 dark:bg-gray-800 p-2;
  }

  .wd-titleblock {
    .wd-title {
      @apply text-blue-500 dark:text-green-500 font-bold mb-0 ;
    }
  }

  .wd-topbar {
    @apply sm:flex sm:justify-between sm:gap-2 p-1 space-x-2 space-y-1 sm:space-y-0 sm:space-x-0;
    .wd-len {
      @apply flex-shrink m-0 px-2 min-w-20 dark:bg-black ;
    }

    .wd-search {
      @apply flex-grow m-0 px-2 dark:bg-black ;
    }

    .wd-options {
      @apply flex-shrink bg-blue-500 dark:bg-green-500  hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
    }
  }

  .wd-table-block {
    @apply w-full border-t border-b  p-4 table-fixed;
  }

}