.wd-data-table-form {

  // table just scrolls .........>
  @apply overflow-x-auto m-1 text-xs sm:text-lg;

  .wd-section {
    @apply w-full mb-1 bg-gray-200 dark:bg-gray-800 p-2;
  }

  .wd-titleblock {
    .wd-title {
      @apply text-blue-500 dark:text-green-500 font-bold mb-0 ;
    }
  }

  .wd-qbarblock {
    @apply w-full flex gap-4 ;
    .wd-qbar {
      @apply w-fit p-2 flex odd:bg-gray-100 even:bg-white gap-y-2;
      .wd-qbar-item {
        @apply px-4 py-2 text-sm font-medium text-gray-900 bg-white border-r-2 border-b-2 border-gray-500;
        &.active {
          @apply bg-blue-500 text-white dark:bg-green-500;
        }
      }
    }
  }



  .wd-topblock {
    @apply sm:flex sm:justify-between sm:gap-2 p-1 space-x-2 space-y-1 sm:space-y-0 sm:space-x-0;
    .wd-pagelength {
      @apply flex-shrink m-0 px-2 min-w-20 dark:bg-black ;
    }

    .wd-pagesearch {
      @apply flex-grow m-0 px-2 dark:bg-black ;
    }

    .wd-pageoptions {
      @apply flex-shrink bg-blue-500 dark:bg-green-500  hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
    }
  }

  .wd-botblock {
    @apply flex justify-between gap-2 p-1 ;
    .wd-pageinfo {
      .wd-pageinfo-text {
        @apply py-1 px-3 bg-white text-black dark:bg-black dark:text-white;
      }
    }

    .wd-pagelist {
      ul {
        @apply flex gap-1 justify-end flex-wrap;
        li {
          @apply flex items-center justify-center px-3 w-8 h-7 ms-0 leading-tight;
          @apply text-gray-500 bg-white border  border-gray-300  hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
          &.wd-active {
            @apply bg-blue-400 dark:bg-green-400 text-white ;
          }
        }
      }
    }
  }


  .wd-table {
    @apply w-full border-t border-b shadow-lg p-4;
    thead {
      tr {
        @apply bg-blue-800/80 text-white dark:text-black;
        th {
          @apply px-1 py-1 text-left m-1 border-r;
          span {
            @apply flex justify-between truncate hover:cursor-pointer;
            div:last-child {
              @apply px-1;
            }
          }

          &.wd-th-pick {
            @apply bg-red-500/50 ;
          }
        }
      }
    }

    .wd-tbody {
      tr {
        @apply hover:bg-blue-200/50;
      }

      td {
        @apply border-2 border-transparent p-1 odd:bg-green-100/50 even:bg-green-200/50 ;
        &.wd-td-pick {
          @apply bg-red-500/80 ;
        }

        span.wd-highlight {
          @apply bg-yellow-200 dark:bg-yellow-800 rounded;
        }
      }
    }
  }

}

.wd-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;

  button {
    @apply focus:outline-none w-24 h-12 border bg-none;
    &.mbtn {
      @apply w-6 h-6 bg-blue-500 text-white enabled:hover:bg-red-500 disabled:bg-gray-200;
    }
    &.zbtn {
      @apply w-8 h-8 bg-gray-200 text-black border-none ;
    }
  }
}

.wd-modal-visible {
  opacity: 1;
}

.wd-modal-content {
  background-color: #cecece;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  min-width: 75%;
  min-height: 75%;
  transform: scale(0.7);
  transition: transform 0.3s ease-in-out;
}

.wd-modal-visible .wd-modal-content {
  transform: scale(1);
}



